<?php
/**
 * Magiccart 
 * @category    Magiccart 
 * @copyright   Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license     http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2014-08-08 22:57:12
 * @@Modify Date: 2018-06-20 11:15:31
 * @@Function:
 */
 ?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $helpLabels = $this->helper('alothemes/labels');
    // $helpTimer  = $this->helper('alothemes/timer'); $num = 1;
?>

<div class="mage-magictabs mc-<?php echo $this->escapeHtml($this->getType());?>">
    <?php if(!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php else: ?>
    <?php 
        $config = $this->getWidgetCfg(); 
        $width  = $config['widthImages'];
        $height = $config['heightImages'];
        $actions = isset($config['action']) ? $config['action'] : array();
    ?>
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_rowCount = isset($config['row']) ? $config['row'] : 1; //$this->getColumnCount(); ?>
    <?php $j=0; $time = isset($config['productDelay']) ? $config['productDelay'] : 0; ?>
    <?php $tag = ($_rowCount >1) ? 'div' : 'ul'; ?>
    <<?php echo $tag ?> class="flexisel-content products-grid <?php echo $this->getType();?> zoomOut play">
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($_rowCount > 1 && $i++%$_rowCount==0): ?>
            <ul class="products-grid-rows">
        <?php endif ?>
            <?php $t = $j*$time; $t .='ms'; $j++; ?>

                <li style="<?php echo "-webkit-animation-delay:$t;-moz-animation-delay:$t;-o-animation-delay:$t;animation-delay:$t" ?>;" class="item item-animate">
                    <div class="per-product">
                        <div class="images-container">
							<?php $product_label = $helpLabels->getLabels($_product); 
									if($product_label) :
								?>
								<div class="product-label clearfix">
									<?php echo $product_label; ?>
								</div>
							<?php endif ?>
						     <div class="product-hover">
                                <?php // echo $helpTimer->getTimer($_product, $num); $num++;//Product Timer ?>
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
									<img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($width , $height); ?>" width="<?php echo $width ?>" height="<?php echo $height ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
									
									<?php $imagehv = $_product->load('media_gallery')->getMediaGalleryImages()->getItemByColumnValue('position','2');
									if($imagehv): $imagehv = $imagehv->getFile();
									?>
										<span class="product-img-back">
											<img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image', $imagehv)->resize($width , $height); ?>" width="<?php echo $width ?>" height="<?php echo $height ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
										</span>
									<?php endif ?>
									<!-- View product label -->
									<div class="view-product-label">
										<?php echo $this->__('View Product') ?>
									</div>
							    </a>
								<div class="link-view <?php echo $_product->getTypeId(); ?>"> 
									<a title="<?php echo $this->__('Quick View') ?>" href="<?php echo $this->getUrl('magicshop/quickview/view', array('id' => $_product->getId(),'_type' => 'direct_link', '_secure'=>$this->getRequest()->isSecure())); ?>" class="link-quickview">
										<i class="fa fa-search-plus icons"></i><?php echo $this->__('Quick View')?>
									</a>
								</div>
								<?php if($actions): ?>
								<div class="hover-box actions-no actions clearfix">
									<div class="show-box clearfix">
										<div class="product-item-actions">
											<div class="actions-cart alotheme-tooltip">
												<?php if(in_array("cart", $actions)):?>
													<?php if($_product->isSaleable()): ?>
														<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart pull-left-none" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span class="tooltip"><?php echo $this->__('Add to Cart') ?></span></span></button>
													<?php else: ?>
														<p class="availability out-of-stock"><span class="tooltip"><?php echo $this->__('Out of stock') ?></span></p>
													<?php endif; ?>
												<?php endif; ?>
											</div>
											<ul class="add-to-links">
											 <?php if(in_array("wishlist", $actions)):?>
												<?php if ($this->helper('wishlist')->isAllow()) : ?>
													<li class="pull-left-no pull-wishlist alotheme-tooltip"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><i class="fa fa-heart icon icons"></i><span class="tooltip"><?php echo $this->__('Wishlist') ?></span></a></li>
												<?php endif; ?>
											<?php endif; ?>

											<?php if(in_array("compare", $actions)):?>
												<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
													<li class="pull-right-no pull-compare alotheme-tooltip"><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><i class="fa fa-retweet icon icons"></i><span class="tooltip"><?php echo $this->__('Compare') ?></span></a></li>
												<?php endif; ?>
											<?php endif; ?>
											</ul>
										</div>
									</div>
								</div>
								<?php endif ?>
							</div>
                            <div class="products-textlink clearfix">
								<h2 class="product-name">
                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                                </h2>
								<?php echo $this->getPriceHtml($_product, true) ?>
								<?php if(in_array("review", $actions)):?>
                                   <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
								<?php endif ?>
								<div class="product-availability <?=($_product->getStockItem()->getIsInStock() == 1 ? 'in_stock': 'out_of_stock')?>">
									<?php if($_product->getStockItem()->getIsInStock() == 1) {
										echo '<img src="'.$this->getSkinUrl('images/check-icon.png').'" alt="" /><span>Op voorraad</span>';
									} else {
										echo '<img src="'.$this->getSkinUrl('images/close-icon.png').'" alt="" /><span>Niet op voorraad</span>';
									} ?>
								</div>
								<div class="product-ordering-info"><?php echo $this->__('Order before 23:00, next day delivery') ?></div>
                            </div>
                        </div>
    				</div>
                </li>
            <?php if ($_rowCount > 1 && $i%$_rowCount==0 || $i==$_collectionSize): ?>
                </ul>
            <?php endif ?>
        <?php endforeach ?>
    </<?php echo $tag; ?>>
<?php endif; ?>
</div>


