<?php $title = $this->getTitle() ?>
<?php $selector = 'slider'.md5(rand()); //rand(0,666666); ?>
<?php $categories = $this->getCategories(); if(!count($categories)) return;?>
<div id="<?php echo $selector ?>">
    <?php echo $title ? '<div class="block-title-tabs">' . '<h3 class="title item">' .$title. '</h3>' . '</div>' : '' ?>
    <ul class="categories">
    <?php foreach ($categories as $cat) :?>
        <li class="cat-item">
		    <div class="imgslide">
            <a href="<?php echo $cat->getUrl() ? $cat->getUrl() : '#' ?>">
				<?php if($img = $cat->getMagicImage()): ?>
                <img class="cat img-responsive" src="<?php echo Mage::getBaseUrl ( 'media' ) ."/catalog/category/" . $img;?>" alt="<?php echo $this->__($cat->getName()) ?>" title="<?php echo $this->__($cat->getName()) ?>" />
				<?php endif ?>
			</a>
			</div>
			<div class="categories-inner">
				<h3 class="cat-title"><a href="<?php echo $cat->getUrl() ? $cat->getUrl() : '#' ?>"><?php echo $cat->getName() ?></a></h3>
                <?php $count = $cat->getProductCount(); ?>
				<div class="counter_item">(<?php echo $this->__('%s items', $count); ?>)</div>
			</div>
        </li>
    <?php endforeach ?>
    </ul>
</div>
<script type="text/javascript">
    jQuery( document ).ready(function($) {
        (function(selector){
            var $content = $(selector);
            var $slider  = $('.categories', $content);
            if($slider.closest('.home-categories-under-slider').length == 0) { // do not apply this for homepage categories section (under slider)
                $slider.bxSlider({
                    <?php //echo $this->getSlider() ?>
                    auto: false,
                    slideWidth: 212,
                    slideMargin: 30,
                    pager:false,
                    minSlides: 2,
                    maxSlides: 5,
                    visibleItems:5,
                    infiniteLoop: false,
                    moveSlides: 1,
                    responsiveBreakpoints : {480: 1, 640: 2, 768: 3, 900: 5},
                });
            }

        })("#<?php echo $selector ?>");
    });
	</script>

